<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="../../../plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../../css/fs.css" media="all"/>
    <script type="text/javascript" src="../../../plugins/layui/layui.js"></script>
    <script type="text/javascript" src="../../../plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../../plugins/frame/js/fsDict.js?v=1.5.0"></script>
    <script type="text/javascript" src="../../../plugins/frame/js/fs.js?v=1.5.0"></script>
    <script type="text/javascript" src="../../../plugins/frame/js/frame.js?v=1.5.0"></script>
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="personName" width="" id="personName" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-inline">
                <input type="text" name="jobNumber" width="" id="jobNumber" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入工号" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select id="gender" name="gender"  lay-verify="required" lay-verType="tips" lay-filter="gender" class="fsSelect" dict="gender"
                        addNull="0" lay-search="" >
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-inline">
                <select id="jobTitle" name="jobTitle"  lay-verify="required" lay-verType="tips" lay-filter="jobTitle" class="fsSelect" dict="jobTitle"
                        addNull="0" lay-search="" >
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="mobileNumber" width="" id="mobileNumber" required="" lay-verType="tips"
                       lay-verify="mobileNumber" placeholder="请输入联系电话" autocomplete="off" class="layui-input"/>

            </div>
        </div>
        <!-- <div class="src-form-item">
            <label class="src-form-label">身份证号</label>
            <div class="src-input-inline">
                <input type="text" name="identityNumber" width="" id="identityNumber" required="" lay-verType="tips"
                       lay-verify="identityNumber" placeholder="请输入身份证号" autocomplete="off" class="src-input"/>
            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">内部车号</label>
            <div class="src-input-inline">
                <input type="text" name="busCode" width="" id="busCode" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入内部车号" autocomplete="off" class="src-input"/>

            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">一卡通号</label>
            <div class="src-input-inline">
                <input type="text" name="cardNo" width="" id="cardNo" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入一卡通号" autocomplete="off" class="src-input"/>
            </div>

        </div>
        <div class="src-form-item">
            <label class="src-form-label">车牌号</label>
            <div class="src-input-inline">
                <input type="text" name="busPlate" width="" id="busPlate" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入车牌号" autocomplete="off" class="src-input"/>
            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">所属班次</label>
            <div class="src-input-inline">
                <select id="shiftCode" name="shiftCode" lay-filter="shiftCode" class="fsSelect" dict="busShift"
                        addNull="1" lay-search="" >
                </select>
            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">入场时间</label>
            <div class="src-input-inline">
                <input type="text" name="entryTime" width="" id="entryTime" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入入场时间" autocomplete="off" class="src-input fsDate"  dateType="date"/>

            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">离开时间</label>
            <div class="src-input-inline">
                <input type="text" name="leaveTime" width="" id="leaveTime" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入离开时间" autocomplete="off" class="src-input fsDate"  dateType="date"/>

            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">状态</label>
            <div class="src-input-inline">
                <input type="text" name="workStatus" width="" id="workStatus" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入状态" autocomplete="off" class="src-input"/>

            </div>
        </div>
        <div class="src-form-item">
            <label class="src-form-label">备注</label>
            <div class="src-input-inline">
                <input type="text" name="remarks" width="" id="remarks" required="" lay-verType="tips"
                       lay-verify="required" placeholder="请输入备注" autocomplete="off" class="src-input"/>
            </div>
        </div> -->
        <hr/><br/>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" lay-submit="" lay-filter="save" url="/admin/base/basepersoninfo/basePersonInfo/save"
                    method="post">新增
            </button>
            <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
        </div>
    </form>
</div>
</body>
</html>
